
.body-added-tracks-header-block {
	width: 100%;
	height: 7vmin;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.body-added-tracks-header-block p {
	font-size: 6vmin;
	color: black;
}















