
.body-edit-user-header-block {
	padding-left: 3%;
	padding-bottom: 2%;
}

.body-edit-user-header-block p {
	font-size: 4vmin;
	color: black;
}

.body-edit-user-block {
	padding-left: 5%;
	padding-bottom: 2%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;	
	align-items: flex-start;
}


.body-edit-user-input-block {
	margin-bottom: 2%;
}

.body-edit-user-input {
	font-size: 2vmin;
}


.body-edit-user-buttons {
	width: 100%;
	min-height: 4vmin;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;	
	align-items: flex-start;	
}

.body-edit-user-buttons .btn {
	min-width: 10%;
	max-width: 30%;
	min-height: 3vmin;
	max-height: 5vmin;
	margin-right: 1%;
}


.body-user-main-track-labels {
	min-width: 15%;
	max-width: 20%;
	margin-right: 1%;
	font-size: 2vmin;
	font-style: italic;	
}


.choose-user-main-track-block {
	width: 100%;
	min-height: 1vmin;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;	
	align-items: flex-start;
	padding-bottom: 2%;	
}

.choose-user-main-track-list {
	min-width: 40%;
	max-width: 70%;
	font-size: 1.8vmin;	
	padding-top: 1%;
	padding-left: 1%;
}

.test-playlist {
	padding-top: 0%;
}













