<!DOCTYPE html>
<html>
<head>
    <title>Редактирование пользователя</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>

<body onload="getToUpdate();">
<script src="/static/getUserToUpdate.js"></script>
<script>
    function getToUpdate(){
        var id = window.location.toString().split('/')[5];
        //alert(id);
        getUserToUpdate("editForm", id);

    }
</script>
<h1>Редактирование пользователя</h1>

<form id="editForm">
    <input type="button" id="btn" value="Отправить" /><br>
</form>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script>
    $("#btn").click(
            function(){
                sendAjaxForm('editForm', "/users/update", "/users");
                return false;
            }
    );
</script>
<script src="/static/sendAjaxForm.js"></script>
<a href="/users">К списку пользователей</a>
</body>
<html>