<!DOCTYPE html>
<html lang="en">
<head>
	<title>Added playlists</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/guest_page.css">
	<link rel="stylesheet" type="text/css" href="css/main_page.css">	
	<link rel="stylesheet" type="text/css" href="css/user_page.css">
	<link rel="stylesheet" type="text/css" href="css/added_playlists_page.css">
<!--===============================================================================================-->
	<style>
		body {
			background: url(images/background/main_background.jpeg) repeat;
		}
		.limiter {
			width: 65%;
			min-height: 30vmin;
			margin: 0 auto;
		}
		.body-main {
			padding-bottom: 1%;
		}
	</style>

</head>
<body>
	<header class="header-main">
		<div class="header-content">
			<div class="header-content-main">
			
				<div class="header-subpart header-main-logo-img" style="flex-grow:2;">
					<a class="header-main-logo-link">
						<img class="main-logo" src="images/logo/music_people_logo_cut.png">
					</a>
				</div>
				
				<div class="vl-header" style="flex-grow:1;"></div>
				
				<div class="header-subpart" style="flex-grow:2;">
					<!-- <button class="header-search-btn"></button> -->
					<a class="header-search-link">
						<img class="header-search-img" src="images/icons/baseline_search_white_18dp.png" title="Search...">
					</a>
					
					<input class="header-search-field" type="search" name="search-field" placeholder="Search music">
					
					<a class="header-search-link">
						<img class="header-search-img" src="images/icons/baseline_more_horiz_white_18dp.png" title="Redirect to exntended search page">
					</a>
				</div>
				
				<div class="vl-header" style="flex-grow:1;"></div>
				
				<div class="header-subpart" style="flex-grow:2;">
				
					<div class="header-username-block" style="flex-grow:2;">
						<a class="header-username">COVID-19</a>
					</div>
					
					<div class="header-sign_out-block" style="flex-grow:2;">
						<button class="login100-form-btn header-button">
							Sign out
						</button>
					</div>
					
				</div>
				
			</div>
			
			<hr class="hr-header">
			
		</div>
	</header>
	
	<div class="limiter body-main first">
		<div class="body-added-playlists-header-block">
			<p><b>Added playlists</b></p>
		</div>
	</div>

	<div>
		<audio controls class="body-player">
		</audio>
	</div>	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<!-- 	<script src="js/add_track_page_main.js"></script> -->
	<script src="js/changeVisibility.js"></script>

</body>
</html>