<!DOCTYPE html>
<html lang="en">
<head>
	<title>Create post</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/views/registration_and_authentication/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/views/registration_and_authentication/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/views/registration_and_authentication/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/views/registration_and_authentication/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/views/registration_and_authentication/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/views/registration_and_authentication/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/views/registration_and_authentication/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/views/registration_and_authentication/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/views/registration_and_authentication/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/views/registration_and_authentication/css/util.css">
	<link rel="stylesheet" type="text/css" href="/views/registration_and_authentication/css/main.css">
	<link rel="stylesheet" type="text/css" href="/views/registration_and_authentication/css/guest_page.css">	
	<link rel="stylesheet" type="text/css" href="/views/registration_and_authentication/css/user_page.css">
	<link rel="stylesheet" type="text/css" href="/views/registration_and_authentication/css/create_post_page.css">
<!--===============================================================================================-->
	<style>
		body {
			background: url(/views/registration_and_authentication/images/background/main_background.jpeg) repeat;
		}
		.limiter {
			width: 65%;
			min-height: 43vmin;
			margin: 0 auto;
		}
	</style>

</head>
<body onload="onCreatePostPageLoad('choose-post-playlist-list-label')">
	<header class="header-main">
		<div class="header-content">
			<div class="header-content-main">
			
				<div class="header-subpart header-main-logo-img" style="flex-grow:2;">
					<a class="header-main-logo-link">
						<img class="main-logo" src="/views/registration_and_authentication/images/logo/music_people_logo_cut.png">
					</a>
				</div>
				
				<div class="vl-header" style="flex-grow:1;"></div>
				
				<div class="header-subpart" style="flex-grow:2;">
					<!-- <button class="header-search-btn"></button> -->
					<a class="header-search-link">
						<img class="header-search-img" src="/views/registration_and_authentication/images/icons/baseline_search_white_18dp.png" title="Search...">
					</a>
					
					<input class="header-search-field" type="search" name="search-field" placeholder="Search music">
					
					<a class="header-search-link">
						<img class="header-search-img" src="/views/registration_and_authentication/images/icons/baseline_more_horiz_white_18dp.png" title="Redirect to exntended search page">
					</a>
				</div>
				
				<div class="vl-header" style="flex-grow:1;"></div>
				
				<div class="header-subpart" style="flex-grow:2;">
				
					<div class="header-username-block" style="flex-grow:2;">
						<a id="header-username" class="header-username" href="/view/user">My profile</a>
					</div>
					
					<div class="header-sign_out-block" style="flex-grow:2;">
						<button class="login100-form-btn header-button">
							Sign out
						</button>
					</div>
					
				</div>
				
			</div>
			
			<hr class="hr-header">
			
		</div>
	</header>
	
	<div class="limiter body-main first">
		<div class="body-post-create-header-block">
			<p><b>Post creation:</b></p>
		</div>
		
		<div class="body-post-create-block">
			<div id="choose-post-playlist-block" class="choose-post-playlist-block">
				<label id="choose-post-playlist-list-label" for="choose-post-playlist-list" class="body-post-create-labels">Choose playlist:</label>
			</div>
			
			<div class="write-post-text-block">
				<label for="write-post-text-textarea" class="body-post-create-labels">Write post text:</label>
				<textarea required id="write-post-text-textarea" class="write-post-text-textarea">Some text to test post text text in textarea.</textarea>
			</div>
			
			<div class="body-post-create-buttons">
				<button class="login100-form-btn btn post-create-btn" onclick="onCreatePostClick('write-post-text-textarea')">Create post</button>
			</div>
		</div>

	</div>

	<div class="footer-block">
		<div class="footer-main-player-block">
			<audio controls id="main-player" class="main-player">
			</audio>
		</div>
		
		<div class="footer-equalizer-link-block">
			<a id="footer-equalizer-link" onclick="onEqualizerImageClick()">
				<img class="equalizer-image" src="/views/registration_and_authentication/images/icons/baseline_equalizer_black_18dp.png" title="Redirect to equalizer page">
			</a>			
		</div>
	</div>	

	<script>
	    var audio = document.getElementById("main-player");
	    audio.volume = 0.4;
	
		audio.addEventListener('play', (event) => {
			onAudioPlay('main-player');
		});		
	
		audio.addEventListener('pause', (event) => {
			onAudioPause('main-player');			
		});		  
	</script>

	<script>
		function onEqualizerImageClick() {
			var currMainPlayerSrc = document.getElementById("main-player").src
			document.getElementById("footer-equalizer-link").href = "/view/equalizer" + `?track_src=${currMainPlayerSrc}`;
		}
	</script>

	
<!--===============================================================================================-->
	<script src="/views/registration_and_authentication/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/views/registration_and_authentication/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/views/registration_and_authentication/vendor/bootstrap/js/popper.js"></script>
	<script src="/views/registration_and_authentication/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/views/registration_and_authentication/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/views/registration_and_authentication/vendor/daterangepicker/moment.min.js"></script>
	<script src="/views/registration_and_authentication/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/views/registration_and_authentication/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/views/registration_and_authentication/js/create_post_page_main.js"></script>
	<script src="/views/registration_and_authentication/js/changeVisibility.js"></script>
	<script src="/views/registration_and_authentication/js/playMusic.js"></script>
	<script src="/views/registration_and_authentication/js/onMusicEnded.js"></script>

</body>
</html>