<!DOCTYPE html>
<html lang="en">
<head>
	<title>Create post</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/guest_page.css">
	<link rel="stylesheet" type="text/css" href="css/main_page.css">	
	<link rel="stylesheet" type="text/css" href="css/user_page.css">
	<link rel="stylesheet" type="text/css" href="css/create_playlist_page.css">
<!--===============================================================================================-->
	<style>
		body {
			background: url(images/background/main_background.jpeg) repeat;
		}
		.limiter {
			width: 65%;
			min-height: 45vmin;
			margin: 0 auto;
		}
		.container-login100 {
			min-height: 100vh;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			padding: 0px;
			justify-content: flex-start;
			align-items: center;
		}
		.body-playlist-block {
			width: 100%;
		}
	</style>

</head>
<body>
	<header class="header-main">
		<div class="header-content">
			<div class="header-content-main">
			
				<div class="header-subpart header-main-logo-img" style="flex-grow:2;">
					<a class="header-main-logo-link">
						<img class="main-logo" src="images/logo/music_people_logo_cut.png">
					</a>
				</div>
				
				<div class="vl-header" style="flex-grow:1;"></div>
				
				<div class="header-subpart" style="flex-grow:2;">
					<!-- <button class="header-search-btn"></button> -->
					<a class="header-search-link">
						<img class="header-search-img" src="images/icons/baseline_search_white_18dp.png" title="Search...">
					</a>
					
					<input class="header-search-field" type="search" name="search-field" placeholder="Search music">
					
					<a class="header-search-link">
						<img class="header-search-img" src="images/icons/baseline_more_horiz_white_18dp.png" title="Redirect to exntended search page">
					</a>
				</div>
				
				<div class="vl-header" style="flex-grow:1;"></div>
				
				<div class="header-subpart" style="flex-grow:2;">
				
					<div class="header-username-block" style="flex-grow:2;">
						<a class="header-username">COVID-19</a>
					</div>
					
					<div class="header-sign_out-block" style="flex-grow:2;">
						<button class="login100-form-btn header-button">
							Sign out
						</button>
					</div>
					
				</div>
				
			</div>
			
			<hr class="hr-header">
			
		</div>
	</header>
	
	<div class="limiter body-main first">
		<div class="body-playlist-create-header-block">
			<p><b>Playlist creation:</b></p>
		</div>
		<form class="body-playlist-create-block">
			<div class="write-playlist-title-block">
				<label for="write-playlist-title" class="body-playlist-create-labels">Input playlist name:</label>
				<input required id="write-playlist-title" class="write-playlist-title" type="text" placeholder="Playlist name">
			</div>
			
			<div class="choose-playlist-tracks-block">
				<label for="choose-playlist-tracks-list" class="body-playlist-create-labels">Choose tracks:</label>
				<select required size="25" id="choose-playlist-tracks-list" class="choose-playlist-tracks-list" multiple>
					<option selected value="12">Земляне - Трава у дома</option>
					<option value="125">Meg Myers - Funeral</option>
					<option value="125">Meg Myers - Little Black Death</option>
					<option value="125">Meg Myers - Done</option>
					<option value="125">Meg Myers - Jealous Sea</option>
					<option value="125">Meg Myers - Tear Me To Pieces</option>
					<option value="125">Meg Myers - Tourniquet</option>
					<option value="125">Meg Myers - Lemon Eyes</option>
					<option value="125">Meg Myers - I Really Want You To Hate Me</option>
					<option value="125">Meg Myers - Sorry</option>
					<option value="125">Meg Myers - Moter</option>
					<option value="125">Meg Myers - Desire</option>
				</select>
			</div>
			
			<div class="body-playlist-create-buttons">
				<button class="login100-form-btn btn playlist-create-btn">Create playlist</button>
			</div>
		</form>
		
		<div>
			<button class="login100-form-btn btn playlist-show-result-btn" onclick="changeVisibility('test-playlist')">Check result lookout</button>
		</div>
	</div>

	<div id="test-playlist" class="limiter body-main test-playlist" style="display:none;">
		<div class="body-post-block">

			<hr class="hr-body-start">
			
			<div class="body-post-content-block">
				<div class="v1-body" style="flex-grow:1;"></div>
				
				<div class="body-post-content-main-block">
					<div class="body-playlist-block" style="flex-grow:3;">
						<a class="body-playlist-name-link">Epic music</a>
						
						<div class="body-playlist-tracks-block">
						
							<div class="body-playlist-single-track-block">
								<div class="body-playlist-single-track-btn">
									<a class="btn-link">
										<span class="btn action">
											<i class="icon track-play-img"></i>
										</span>
									</a>
								</div>
								
								<div class="body-playlist-single-track-name-block">
									<p><b>Земляне</b></p>
									<p>Трава у дома</p>
								</div>
								
								<div class="body-playlist-single-track-duration-block">
									<p>4:28</p>
								</div>
							</div>
							
							<div class="body-playlist-single-track-block">
								<div class="body-playlist-single-track-btn">
									<a class="btn-link">
										<span class="btn action">
											<i class="icon track-play-img"></i>
										</span>
									</a>
								</div>
								
								<div class="body-playlist-single-track-name-block">
									<p><b>Земляне</b></p>
									<p>Трава у дома</p>
								</div>
								
								<div class="body-playlist-single-track-duration-block">
									<p>4:28</p>
								</div>
							</div>
							
							<div class="body-playlist-single-track-block">
								<div class="body-playlist-single-track-btn">
									<a class="btn-link">
										<span class="btn action">
											<i class="icon track-play-img"></i>
										</span>
									</a>
								</div>
								
								<div class="body-playlist-single-track-name-block">
									<p><b>Земляне</b></p>
									<p>Трава у дома</p>
								</div>
								
								<div class="body-playlist-single-track-duration-block">
									<p>4:28</p>
								</div>
							</div>
							
							<div class="body-playlist-single-track-block">
								<div class="body-playlist-single-track-btn">
									<a class="btn-link">
										<span class="btn action">
											<i class="icon track-play-img"></i>
										</span>
									</a>
								</div>
								
								<div class="body-playlist-single-track-name-block">
									<p><b>Земляне</b></p>
									<p>Трава у дома</p>
								</div>
								
								<div class="body-playlist-single-track-duration-block">
									<p>4:28</p>
								</div>
							</div>
							
							<div class="body-playlist-single-track-block">
								<div class="body-playlist-single-track-btn">
									<a class="btn-link">
										<span class="btn action">
											<i class="icon track-play-img"></i>
										</span>
									</a>
								</div>
								
								<div class="body-playlist-single-track-name-block">
									<p><b>Земляне</b></p>
									<p>Трава у дома</p>
								</div>
								
								<div class="body-playlist-single-track-duration-block">
									<p>4:28</p>
								</div>
							</div>
							
							<div class="body-playlist-single-track-block">
								<div class="body-playlist-single-track-btn">
									<a class="btn-link">
										<span class="btn action">
											<i class="icon track-play-img"></i>
										</span>
									</a>
								</div>
								
								<div class="body-playlist-single-track-name-block">
									<p><b>Земляне</b></p>
									<p>Трава у дома</p>
								</div>
								
								<div class="body-playlist-single-track-duration-block">
									<p>4:28</p>
								</div>
							</div>
							
							<div class="body-playlist-single-track-block">
								<div class="body-playlist-single-track-btn">
									<a class="btn-link">
										<span class="btn action">
											<i class="icon track-play-img"></i>
										</span>
									</a>
								</div>
								
								<div class="body-playlist-single-track-name-block">
									<p><b>Земляне</b></p>
									<p>Трава у дома</p>
								</div>
								
								<div class="body-playlist-single-track-duration-block">
									<p>4:28</p>
								</div>
							</div>
							
							<div class="body-playlist-single-track-block">
								<div class="body-playlist-single-track-btn">
									<a class="btn-link">
										<span class="btn action">
											<i class="icon track-play-img"></i>
										</span>
									</a>
								</div>
								
								<div class="body-playlist-single-track-name-block">
									<p><b>Земляне</b></p>
									<p>Трава у дома</p>
								</div>
								
								<div class="body-playlist-single-track-duration-block">
									<p>4:28</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<hr class="hr-body-end">
			
		</div>
	</div>

	<div>
		<audio controls class="body-player">
		</audio>
	</div>	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/create_playlist_page_main.js"></script>
	<script src="js/changeVisibility.js"></script>

</body>
</html>