<!DOCTYPE html>
<html lang="en">
<head>
	<title>Edit profile</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/views/registration_and_authentication/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/views/registration_and_authentication/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/views/registration_and_authentication/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/views/registration_and_authentication/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/views/registration_and_authentication/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/views/registration_and_authentication/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/views/registration_and_authentication/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/views/registration_and_authentication/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/views/registration_and_authentication/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/views/registration_and_authentication/css/util.css">
	<link rel="stylesheet" type="text/css" href="/views/registration_and_authentication/css/main.css">
	<link rel="stylesheet" type="text/css" href="/views/registration_and_authentication/css/guest_page.css">
	<link rel="stylesheet" type="text/css" href="/views/registration_and_authentication/css/main_page.css">	
	<link rel="stylesheet" type="text/css" href="/views/registration_and_authentication/css/user_page.css">
	<link rel="stylesheet" type="text/css" href="/views/registration_and_authentication/css/edit_profile_page.css">
<!--===============================================================================================-->
	<style>
		body {
			background: url(/views/registration_and_authentication/images/background/main_background.jpeg) repeat;
		}
		.limiter {
			width: 65%;
			min-height: 30vmin;
			margin: 0 auto;
		}
		.body-main {
			padding-bottom: 3%;
		}
		.wrap-input100 {
			width: 94%;
			height: 6.5vmin;
			background-color: white;
		}	
		.wrap-input100 .input100 {
			padding-left: 2%;
			font-size: 2vmin;
		}
	</style>

</head>
<body onload="onEditProfileLoad('choose-user-main-track-list-label', 'main-player')">
	<header class="header-main">
		<div class="header-content">
			<div class="header-content-main">
			
				<div class="header-subpart header-main-logo-img" style="flex-grow:2;">
					<a class="header-main-logo-link">
						<img class="main-logo" src="/views/registration_and_authentication/images/logo/music_people_logo_cut.png">
					</a>
				</div>
				
				<div class="vl-header" style="flex-grow:1;"></div>
				
				<div class="header-subpart" style="flex-grow:2;">
					<a class="header-search-link">
						<img class="header-search-img" src="/views/registration_and_authentication/images/icons/baseline_search_white_18dp.png" title="Search...">
					</a>
					
					<input class="header-search-field" type="search" name="search-field" placeholder="Search music">
					
					<a class="header-search-link">
						<img class="header-search-img" src="/views/registration_and_authentication/images/icons/baseline_more_horiz_white_18dp.png" title="Redirect to exntended search page">
					</a>
				</div>
				
				<div class="vl-header" style="flex-grow:1;"></div>
				
				<div class="header-subpart" style="flex-grow:2;">
				
					<div class="header-username-block" style="flex-grow:2;">
						<a id="header-username" class="header-username" href="/view/user">My profile</a>
					</div>
					
					<div class="header-sign_out-block" style="flex-grow:2;">
						<button class="login100-form-btn header-button">
							Sign out
						</button>
					</div>
					
				</div>
				
			</div>
			
			<hr class="hr-header">
			
		</div>
	</header>
	
	<div class="limiter body-main first">
		<div class="body-edit-user-header-block">
			<p><b>Edit profile:</b></p>
		</div>
		
		<div class="body-edit-user-block validate-form">
			<div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
				<input class="input100" type="text" id="username" name="username" placeholder="Username">
				<span class="focus-input100"></span>
			</div>
			
			<div class="wrap-input100 validate-input m-b-16" data-validate = "Email is required">
				<input class="input100" type="text" id="email" name="email" placeholder="Email">
				<span class="focus-input100"></span>
			</div>
			
			<div class="wrap-input100 m-b-16" data-validate = "First name is required">
				<input class="input100" type="text" id="first-name" name="first-name" placeholder="First name">
				<span class="focus-input100"></span>
			</div>
			
			<div class="wrap-input100 m-b-16" data-validate = "Last name is required">
				<input class="input100" type="text" id="last-name" name="last-name" placeholder="Last name">
				<span class="focus-input100"></span>
			</div>			
			
			<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
				<input class="input100" type="password" id="password" name="password" placeholder="Password">
				<span class="focus-input100"></span>
			</div>
					
			<div class="wrap-input100 validate-input m-b-16" data-validate = "Confirm of password is required">
				<input class="input100" type="password" id="confirm-password" name="confirm-password" placeholder="Confirm password">
				<span class="focus-input100"></span>
			</div>					
				
			<div class="choose-user-main-track-block">
				<label id="choose-user-main-track-list-label" class="body-user-main-track-labels">Choose main track:</label>				
			</div>
				
			<div class="body-edit-user-buttons">
				<button id="edit-profile-btn" class="login100-form-btn btn edit-user-btn">Edit profile</button>
			</div>
		</div>
	</div>

	<div class="footer-block">
		<div class="footer-main-player-block">
			<audio controls id="main-player" class="main-player">
			</audio>
		</div>
		
		<div class="footer-equalizer-link-block">
			<a id="footer-equalizer-link" onclick="onEqualizerImageClick()">
				<img class="equalizer-image" src="/views/registration_and_authentication/images/icons/baseline_equalizer_black_18dp.png" title="Redirect to equalizer page">
			</a>			
		</div>
	</div>	

	<script>
	    var audio = document.getElementById("main-player");
	    audio.volume = 0.4;
	
		audio.addEventListener('play', (event) => {
			onAudioPlay('main-player');
		});		
	
		audio.addEventListener('pause', (event) => {
			onAudioPause('main-player');			
		});		  
	</script>

	<script>
		function onEqualizerImageClick() {
			var currMainPlayerSrc = document.getElementById("main-player").src;
			document.getElementById("footer-equalizer-link").href = "/view/user/equalizer" + `?track_src=${currMainPlayerSrc}`;
		}
	</script>
	
<!--===============================================================================================-->
	<script src="/views/registration_and_authentication/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/views/registration_and_authentication/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/views/registration_and_authentication/vendor/bootstrap/js/popper.js"></script>
	<script src="/views/registration_and_authentication/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/views/registration_and_authentication/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/views/registration_and_authentication/vendor/daterangepicker/moment.min.js"></script>
	<script src="/views/registration_and_authentication/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/views/registration_and_authentication/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/views/registration_and_authentication/js/edit_profile_page_main.js"></script>
	<script src="/views/registration_and_authentication/js/changeVisibility.js"></script>
	<script src="/views/registration_and_authentication/js/playMusic.js"></script>
	<script src="/views/registration_and_authentication/js/onMusicEnded.js"></script>

</body>
</html>