<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Эквалайзер</title>

    <style id="jsbin-css">
        audio,
        .selectorsWithLabel {

        }
        input[type="range"] {
            transform: rotate(-90deg);
            position: relative;

            width: 90px;
            margin: 70px -27px 0 -15px;
        }

        input[type="file"] {
            display: block;
            width: 300px;
        }
        .eq-input_label {
            width: 40px;
            display: inline-block;
            margin: 15px 7px 0 0;
        }
        .selectors_label {

            margin:0 0 50px 20px;
        }


    </style>
</head>
<body>


<div class="selectorsWithLabel">
    <div class="selectors"></div><br>
    <div class="selectors_label"></div>
</div>
<div id="effects">
    <input type="checkbox" id="echoEffect" >Echo<Br>
    <input type="checkbox" id="reverbEffect" >Reverberation<Br>
    <input type="checkbox" id="chorusEffect" >Chorus<Br>
</div>

<audio src="/music/2020-5-5_12-52-35-342_408bd7390e4405b91a6b767e3800af5753bf8c93.mp3" controls class="audio" id="audio"></audio>
<audio src="/music/2020-5-5_12-52-35-342_408bd7390e4405b91a6b767e3800af5753bf8c93.mp3" controls loop class="audio" id="audio2"></audio>

<div class="record">
</div>
<!-- -->
<input type="file" id="file">
<div id="canvas1"> </div>
<script>

    document.getElementById('file').addEventListener('change', function (e) {
        var url = URL.createObjectURL(e.target.files[0]);

        document.getElementById('audio').src = url;
    }, false);

</script>
<script type="text/javascript" src="/scripts/equalizer.js"></script>
<script type="text/javascript" src="/scripts/visualizer.js"></script>
<script>

    var context = new (window.AudioContext || window.webkitAudioContext)();
    document.getElementById('audio').addEventListener('play', function() {
        context.resume();
    });

    //connect visualizer
    var visualizer = getVisualizer({

        context: context,
        container: "canvas1"
    });
    visualizer.connect(context.destination);

    //connect equalizer
    var equalizerInput = equalizer({

        context: context,
        next_node: visualizer,
        container: '.selectors'
    });


    var audio = document.getElementById('audio');
    if (!audio) {
        throw new TypeError(' there\'s no element that match selector' +
            audio);
    }

    var source = context.createMediaElementSource(audio);

    source.connect(equalizerInput);









</script>

<script type="text/javascript" src="/scripts/editing.js"></script>
<script>
    editing({
        context: context,
        container: '.record',
        source: visualizer,
        endpoint: 'audio2'
    });
</script>
<script>

    //echo
    let delayEchoNodes = [],
        gainEchoNodes = [];


    delayEchoNodes.push(context.createDelay());
    gainEchoNodes.push(context.createGain());
    delayEchoNodes[0].delayTime.value = 0.05;
    gainEchoNodes[0].gain.value = 0.4;
    gainEchoNodes[0].connect(delayEchoNodes[0]);

    for(let i= 1; i<7; i++) {
        delayEchoNodes.push(context.createDelay());
        gainEchoNodes.push(context.createGain());
        delayEchoNodes[i].delayTime.value = 0.05;
        gainEchoNodes[i].gain.value = 0.5;
        gainEchoNodes[i].connect(delayEchoNodes[i]);
        gainEchoNodes[i-1].connect(gainEchoNodes[i]);
        delayEchoNodes[i].connect(delayEchoNodes[i-1]);

    }
    document.getElementById('echoEffect').addEventListener('change', function() {
        if(this.checked) {

            source.connect(gainEchoNodes[0]);
            delayEchoNodes[0].connect(equalizerInput);
        }
        else{
            source.disconnect(gainEchoNodes[0]);
            delayEchoNodes[0].disconnect(equalizerInput);
        }
    });

</script>

<script>
    //reverberation
    let delayReverbNode = context.createDelay();
    let gainReverbNode  = context.createGain();
    delayReverbNode .delayTime.value = 0.3;
    gainReverbNode .gain.value = 0.5;
    gainReverbNode.connect(delayReverbNode );
    delayReverbNode.connect(gainReverbNode );
    document.getElementById('reverbEffect').addEventListener('change', function() {
        if(this.checked) {

            source.connect(gainReverbNode );
            gainReverbNode .connect(equalizerInput);
        }
        else{
            source.disconnect(gainReverbNode);

            gainReverbNode .disconnect(equalizerInput);
        }
    });

</script>
<script>
    //chorus
    let delayNodeEcho = context.createDelay();
    let gainNodeEcho = context.createGain();
    delayNodeEcho.delayTime.value = 0.05;
    gainNodeEcho.gain.value = 0.7;
    gainNodeEcho.connect(delayNodeEcho);
    document.getElementById('echoEffect').addEventListener('change', function() {
        if(this.checked) {

            source.connect(gainNodeEcho);
            delayNodeEcho.connect(equalizerInput);
        }
        else{
            source.disconnect(gainNodeEcho);
            delayNodeEcho.disconnect(equalizerInput);
        }
    });

</script>
</body>
</html>